/*resetting style*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Custom CSS variables*/
:root{
    --gameBG:#3b3838 ;
    --gameGrid: #54a460;
    --winner: #000;
    --draw: #fff;
}

/* Setting game aesthetic*/
body{
    color: var(--gameGrid);
    font-family: 'Mynerve', cursive;
}

h1{
    font-size: 3.25em;
    text-transform: uppercase;
}
/*Styling the gameboard*/
.container{
    padding: 40px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--gameBG);
}
#gameboard{
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}
.box{
    height: 130px;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gameGrid);
    font-size: 120px;
    border-right: 2px solid;
    border-bottom: 2px solid;
}
/* removing bottom and side border from game grid */
.box:nth-child(3n){
    border-right: none;
}
.box:nth-child(6) ~ .box {
    border-bottom: none;
}
/*reset button styling*/
button{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--gameGrid);
    color: #000;
    border-color: var(--gameGrid);
    font-size: 14px;
    transition: 200ms transfrom;
    font-weight: 600;
}
button:hover{
    cursor: pointer;
    transform: translateY(-2px)
}